body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #fff;
  font-family: 'Train One', cursive;
}

.container {
  text-align: center;
  width: 100%;
}

.container h1 {
  margin: 50px 0 100px 0;
  font-size: 3.5rem;
}

.holder {
  position: absolute;
}
.wheel {
  position: relative;
  left: 20px;
  top: 20px;
}
.pointer {
  position: relative;
  right: 185px;
  bottom: 320px;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 200px;
}

.btn {
  z-index: 2;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  /* transition: all 0.1s ease-in; */
  border: 1px solid #fff;
}

.btn:hover {
  background-color: #2e229b;
  color: #fff;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.2px);
  }
  80% {
    filter: blur(1.2px);
  }
  100% {
    filter: blur(0px);
  }
}

@media screen and (max-width: 768px) {
  .container h1 {
    margin: 50px auto;
    font-size: 2rem;
    text-align: center;
  }
  .holder {
    position: absolute;
  }
  .wheel {
    position: relative;

  }
  .pointer {
    position: relative;
    right: 185px;
    bottom: 300px;
  }
  .sec {
  top: 150px;
}
